.footer{
    height: 60px;
    width: 100%;
    background-color: #123346;
    max-width: 1600px;
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
}
.websiteby{
    color:white;
    font-size:14px;
}