.entry-content{
    margin: 0 auto;
    max-width: 844px;
    width: 100%;
}

@media(max-width: 885px){
    .entry-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.entry-content a{
    color:#337ab8;
    text-decoration: none;
}
.entry-content a:hover{
    color:#123346;
}